{% load static %}

<html>
<head> 
<link rel="stylesheet" href="{% static 'style.css'%}">
</head>

<body style = "background-image : url({% static 'media\woodlawn.png' %}); background-repeat : no-repeat; background-size: 100%;">

<!-- <p>{% block content %}boohoo{% endblock %}</p> -->


<div style = "width:50%; margin:0 auto" >
<!--<form action = "" method="post">
<label for= "fname">name</label><br>
<input type="text" id="fname" ><br>
<label for= "password">password</label><br>
<input type="text" id="password" name = "nameit" ><br>
<input type="submit" value="go">

</form>
-->
<form method ='POST'>{% csrf_token %}
{{formal.as_p}}
<input type = 'submit' value = 'bye'/>

</form>
</div>

</body>
</html>