{% load static %}

<html>
<head> 
<link rel="stylesheet" href="{% static 'style.css'%}">
</head>

<body style = "background-image : url({% static 'media\woodlawn.png' %}); background-repeat : no-repeat; background-size: 100%;">

<!-- <p>{% block content %}boohoo{% endblock %}</p> -->


<div style = "width:50%; margin:0 auto" >

{% for key,value in addeddivss.items %}
<h2 style = "color : white">{{key}}</h2>
<p style = "color : white">{{value}}</p>

{% endfor %}



</div>

</body>
</html>